/* style.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #333;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.container img {
    width: 150px;
    border-radius: 20%;
    margin-right: 20px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.galeria img {
    width: 80%;
    border-radius: 8px;
    
}

#contato {
    text-align: center;
    padding: 30px;
}

.redes-sociais a {
    margin: 0 10px;
    text-decoration: none;
    color: #222;
    font-weight: bold;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
